<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
<title>MC影视</title>
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/rest.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon" type="image/x-icon">
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/TouchSlide.1.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/xunlei.js') }}"></script>
<script>var sitePath=''; xindongid=14111;</script>
<script src="{{ url_for('static', filename='js/common.js') }}"></script>
</head>
<body>
<div class="wrap">
  <div class="n_header">
    <div class="n_so">
        <form action="javascript:void(0);">
            <input id="keywords" placeholder="输入影片名" type="text" class="h_so_inp h_so_inp_w1">
            <input id="btn"  value="" type="submit" class="so_btn">
        </form>
    </div>
    <a href="{{ url_for('cinema.index') }}" class="home"></a> <span>剧情介绍</span> </div>

  <div  class="w98 mian_bo">
    <div class="so_list clearfix w98 v_txt">
      <ul>
        <li>
          <div class="so_pic"><img id="tp" onerror="this.src = '/static/img/load_error.jpg'" src=""></div>
          <h2 id="mz"></h2>
          <p id="zy"><span>主演：</span><a href='javascript:void(0);'></a>&nbsp;</p>
          <p><span>类型：</span><span style="color: #000;" id="lx"></span></p>
          <p><span>地区：</span><span style="color: #000;" id="dq"></span></p>
          <p><span>年份：</span><span style="color: #000;" id="nf"></span></p>
		  <p id="dy"><span>导演：</span><a href='javascript:void(0);'></a></p>
        </li>
      </ul>
    </div>
    <button class="btnsub" id="Subscribe" title="订阅更新">订阅更新</button>
                         
    <div class="mian_title bo_top">
      <h2>剧情简介</h2>
    </div>
    <div id="jqjj" class="v_test w98"></div>
  </div>
                           
    <div id="d_main" class="d_main w98 mian_bo">
    <div class="hd mian_title">
      <ul style=" left:10px">
    <li>高清资源</li>

      </ul>
    </div>
    <div class="bd d_list w98">
       <div class="down_list clearfix">
        <ul>
      <li><a style="" id="dz"  href='javascript:void(0);' target="_self" class='d_btn'>在线播放</a><span></span></li>
        </ul>
      </div>




    </div>
    <script type="text/javascript">TouchSlide({ slideCell:"#d_main" });</script>
  </div>


  <div id="v_list" class="v_list w98 mian_bo">
    <div class="hd mian_title">
      <h2>相关影片</h2>
    </div>
    <div class="bd">
      <ul class="clearfix">
         
			 <!--<li>-->
          <!--<div class="v_pic">-->
           <!--<a href="javascript:void(0);"><img src=""></a>-->
           <!--<h2><a href="javascript:void(0);">欢乐颂</a></h2>-->
           <!--</div>-->
        <!--</li>-->
        
      </ul>
    </div>
  </div>
</div>

<div ondblclick="$('#ll').show(); localStorage.ll = true;" style="text-align: center; font: 20px arial;">
    MC影视
</div>
<script src="{{ url_for('static', filename='js/detail.js') }}"></script>
</body>
</html>
